* {
  /* border: 1px solid rgb(106, 105, 105); */
  background: rgb(87, 87, 87);
  color: white;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  font-family: "Montserrat", sans-serif;
  font-family: "Tinos", serif;
  font-family: "Open Sans", sans-serif;
  /* height: 600px; */
}
.App > a {
  text-decoration: none;
  margin: 0;
  padding:0;
}

.header {
  font-size: x-large;
  grid-column: 1 / span 2;
  background: rgb(31, 31, 31);
  border: 2px solid rgb(201, 200, 200);
  padding: 1%;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-row: 3;
  column-gap: 1pc;
}

.main > h2 {
  grid-column: 1 / span 2;
  /* border: 2px solid rgb(54, 54, 54); */
  padding: 1%;
}

.main > .feature {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 span 1;
}
.search {
  padding: 1vh;
  padding: 1%;
  overflow: hidden;
}
.search > div {
  margin-top: 4%;
  padding: 2vh;
}
.search > div > label > input {
  background:white;
  color: black;
  font-size: medium;
  border-style: inset;
  box-shadow: 2px 2px 2px rgb(14, 14, 14);
  height: 28px;
  width: fit-content;
}

.searchTools {
  border: 2px solid rgb(54, 54, 54);
  grid-column: 1 span 1;
  padding: 5%;
  margin: 3%
}

.search > div > label > .button {
  background:rgb(181, 182, 176);
  color: black;
  padding: 2%;
  margin-bottom: 6%;
  margin-left:2%;
  font-size: medium;
  border-radius: 10%;
  /* border-style: inset; */
  box-shadow: 8px 5px 5px rgb(14, 14, 14);
  height: 40px;
  width: fit-content;
}
.feature .searchTools > .options {
  justify-items: center;
  border: 2px solid rgb(54, 54, 54);
  padding-left: 8%;
  padding-top: 7%;
  padding-bottom: 7%;
}
.feature .searchTools > .options > button {
  background:rgb(181, 182, 176);
  color: black;
  padding: 2%;
  margin: 5%;
  font-size: medium;
  border-radius: 10%;
  /* border-style: inset; */
  box-shadow: 8px 5px 5px rgb(14, 14, 14);
  height: 40px;
  width: fit-content;
}

.feature > .image > .poster {
  width: 100%;
  opacity: 1;
}

.selections {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 2px solid rgb(201, 200, 200);
}

.selections > h3 {
  padding: 3%;
  background:  rgb(31, 31, 31);
}

.selections > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  grid-column: 2 / span 1;
  grid-row: 2;
  text-decoration: none;
  vertical-align: text-top;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
}
.selections > ul > li {
  display: flex;
  flex-direction: column;
  font-size: small;
  /* max-height: 200px; */
  height:auto;
  vertical-align: text-top;
  border: 1px solid rgb(201, 200, 200);
}

.selections > ul > li:nth-child(even) {
  background: white;
  background-color: white;
}

.selections > ul > li > a > .poster {
  width: 30%;
  opacity: .8;
  max-height: 200px;
}


